.App {
  font-family: sans-serif;
  text-align: center;
}
.rating-table {
  margin: 20px;
  text-align: left;
}
.rating-table ol li {
  border-top-width: 5px;
  border-color: gray;
  /*border:black;*/
}

.rating-table ol li.row:nth-child(-n + 5) {
  background-color: lightgray;
  font-weight: bold;
  border-color: black;
  border-width: 1px;
}
